<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853272841293-3d923gak6j4ta46g65dgdegl2v3a3ik3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853272841293-3d923gak6j4ta46g65dgdegl2v3a3ik3</string>
	<key>API_KEY</key>
	<string>AIzaSyBEKFxDrN6J33ZyBysdSx5XMqPlTWsYmY0</string>
	<key>GCM_SENDER_ID</key>
	<string>853272841293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseRestApisExample</string>
	<key>PROJECT_ID</key>
	<string>pse-icu</string>
	<key>STORAGE_BUCKET</key>
	<string>pse-icu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853272841293:ios:6a6227646e981d3fbfa004</string>
</dict>
</plist>